<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>BURGER APP</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
		<img src="/public/assets/css/burger.png" alt="cartoon burger">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>


<!--<img src="/images/html5.gif" alt="HTML5 Icon" style="width:128px;height:128px;">-->