<h1>EAT A BURGER!</h1>

 {{!--burgers moved to this list after devour button clicked  --}}
<ul>
  {{#each burger_name}}
    {{#unless name}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

  {{!--burgers with devour button  --}}
<ul>
  {{#each burger_name}}
    {{#if name}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>ADD A BURGER</h2>
<form class="create-form">

  <div class="form-group">
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">SUBMIT</button>
</form>
