
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Eat a burger!</h1>
      <img src="/public/assets/css/burger.jpg" alt="cartoon burger">
  </div>
</div>
   
<form>
  <div class="col">
      <input type="text" class="form-control" placeholder="burger name">
    </div>
  <button type="submit" class="btn btn-primary mb-2">submit</button>
</form>


<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <ul>
  {{#each burger_name}}
    {{#if newName}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>
        <a href="#" class="btn btn-primary">devour it!</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <ul>
  {{#each burger_name}}
    {{#unless newName}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>
        <a href="#" class="btn btn-primary">devoured!</a>
      </div>
    </div>
  </div>
</div>